:root {
  font-family: Garamond, 'Adobe Garamond Pro', serif;
  line-height: 1.6;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia Pro', Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #646cff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: #535bf2;
  border-color: #535bf2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
